@import "design_variables.import.less";

body{
	font-family: @font-standart;
	padding: 0px;
	margin: 0px;
}

.resume-switchbar{
	text-align: center;

	.button-selected{
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
		.button-color-sheme-1;
		border: solid 3px @main-color;
	    padding: 8px 16px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 18px;
	    border-radius: 15px;
	}
	.button-inactive{
		.button-selected;
		.button-color-sheme-2;

	}
	.button-inactive:hover{
		.button-color-sheme-3;
		//border: solid 3px @sub-color-2;
	}
}
.responsive-container{
	margin-top: 60px;
}

.navbar{
	background-color: @main-color;
	color: @sub-color-1;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}


.nav{
	padding-top:32px; 
}

.initials{
	color: @sub-color-2;
	font-family: @font-headline-1;
	text-align: center;
	font-size: 36pt;
}


.menu{
	border: solid 1px #222;
}

.header{
	width: 100%;
	height: 200px;
	background:url(images/Nebula2.png);
	border: solid 1px #222;
	color: @sub-color-1;
	h1{
		font-family: @font-headline-1;
		font-size: 72px;
		text-align: center;
	}
}

.content{
	border: solid 1px #222;
}

.footer{
	padding: @padding;
	color: @sub-color-1;
	background-color: @main-color;
	
}

