@import "design_variables.import.less";

body{
	font-family: @font-standart;
	padding: 0px;
	margin: 0px;
}

.resume-switchbar{

  	display:flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px;

  	ul li{
  		float: left;
  		display: inline;
  	}

  	li{
  		margin-left: 20px;
  		margin-righ: 20px;
  	}
}

.radio-container{
  display: inline;
}


.responsive-container{
	margin-top: 60px;
}

.navbar{
	background-color: @main-color;
	color: @sub-color-1;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}


.nav{
	padding-top:32px; 
}

.initials{
	color: @sub-color-2;
	font-family: @font-headline-1;
	text-align: center;
	font-size: 36pt;
}


.menu{
	border: solid 1px #222;
}

.header{
	width: 100%;
	height: 200px;
	background:url(images/Nebula2.png);
	border: solid 1px #222;
	color: @sub-color-1;
	h1{
		font-family: @font-headline-1;
		font-size: 72px;
		text-align: center;
	}
}

.content{
}

.footer{
	padding: @padding;
	color: @sub-color-1;
	background-color: @main-color;
	
}

